{% extends "layout.html" %}
{% block body %}

<div class="container mt-4">
    <form action="{{ url_for('add_entry') }}" method="post" class="mb-4">
        <input type="text" class="form-control mb-2" name="title" placeholder="Title" required>
        <input type="text" class="form-control mb-2" name="categories" placeholder="Category">
        <textarea class="form-control mb-2" name="text" rows="3" placeholder="Text" required></textarea>
        <button type="submit" class="btn btn-success">Share</button>
    </form>


    <form action="{{ url_for('show_entries') }}" method="get" class="mb-4 d-flex">
            <select name="category" id="category" class="form-select">
                <option value="">Show All</option>
                {% for cat in categories %}
                <option value="{{ cat }}" {% if cat == selected %}selected{% endif %}>{{ cat }}</option>
                {% endfor %}
            </select>
        <button type="submit" class = "btn btn-primary">Filter</button>
    </form>


  {% for entry in entries %}
  <div class="card mb-3 p-3">
    <strong>{{ entry.title }}</strong> <span>{{ entry.categories }}</span>
    <p>{{ entry.text }}</p>

    <div class="d-flex">
      <form action="{{ url_for('delete_entry', entry_id=entry.id) }}" method="post">
        <button type="submit" class="btn btn-sm">Delete</button>
      </form>

      <button class="btn btn-sm " type="button" onclick="toggleForm('edit-{{ entry.id }}')" >Edit</button>
    </div>

    <div class="collapse mt-2" id="edit-{{ entry.id }}">
        <form action="{{ url_for('edit_entry', entry_id=entry.id) }}" method="post">
            <input type="text" class="form-control mb-2" name="title" value="{{ entry.title }}" placeholder="Title">
            <textarea class="form-control mb-2" name="text" placeholder="Text">{{ entry.text }}</textarea>
            <input type="text" class="form-control mb-2" name="category" value="{{ entry.category }}" placeholder="Category">
            <button type="submit" class="btn btn-success btn-sm">Save</button>
        </form>
    </div>


    <script>
    function toggleForm(formId){
        const form = document.getElementById(formId)
        if (form.style.display === "none") {
            form.style.display = "block";
        }   else {form.style.display = "none";}


    }
    </script>

  {% else %}
    <li><em>No entries here yet</em></li>
  {% endfor %}

</div>
{% endblock %}
